%p
  = link_to_close options_admin_leads_path

%p

%form
  = hidden_field_tag "lead[user_id]", @current_user.id
  = render :partial => "sort_by"
  = render :partial => "admin/common/per_page"
  = render :partial => "admin/common/outline"
  = submit_to_remote(:save, "Save", :url => "#{redraw_admin_leads_url}", :loading => "$('loading').show()", :complete => "$('loading').hide()")
%br
